$darkblue : rgba(11,13,23,1);
$cream : rgba(255,255,255,1);
$cream_hover : rgba(255,255,255,0.5);
$lightpurple : rgba(208,214,249,1);

$f_h1 : 150px;
$f_h2 : 100px;
$f_h3 : 58px;
$f_h4 : 32px;
$f_h5 : 28px;
$f_sh1 : 28px;
$f_sh2 : 14px;
$f_navtext : 16px;
$f_bodytext : 18px;